body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.img--assignment {
  display: flex;
}

.item-custom {
  padding: 0px;
}

.item-custom > * {
  padding: 10px 15px;
}

.item-active:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}
